#disable_html_escaping()

#parse("templates/settings/jcwp_macros.vm")

<table class="tableBorder maxWidth" cellpadding="3" cellspacing="1">
    <tr>
        <td bgcolor="#f0f0f0" colspan="2">
            <h3 class="formtitle">$i18n.getText("settings.jiracomponentwatcher.page.name")</h3>
        </td>
    </tr>

    #view_string_setting("notificationType" $notificationType.name)
</table>


<br/>
<table class="tableBorder maxWidth" cellspacing="1" cellpadding="3">
    <tbody>
    <tr bgcolor="#f0f0f0">
        <td align="center" colspan="2" class="colHeaderLink">
            <a href="$baseurl/secure/project/EditComponentWatcherSettings!default.jspa" id="edit_component_watcher_settings"><b>Edit Configuration</b></a>
        </td>
    </tr>
    </tbody>
</table>